@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
body {
  background-color: blue ;
}

content {
  background-color: #146E18 ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: blue;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0A487E;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;    
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
    background-color: #0D0402;
    font-family: "Montserrat", sans-serif;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #000000 ;
}

button {
    padding: 9px 25px;
    background-color: #D9840C;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

